.welcome-section {
  width: 100%;
  height: 100vh;
}

.welcome-section .background {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/background.jpg);
  background-size: cover;
  background-position: center center;
  z-index: -1;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.welcome-section .hero-wrap {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-section .hero {
  width: 600px;
  height: 400px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 50px;
  text-align: center;
  margin-top: 60px;
  border-radius: 2px;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome-section .hero p {
  color: gray;
  text-transform: uppercase;
  font-size: 13px;
}

.welcome-section .hero h1 {
  color: white;
  text-transform: capitalize;
  font-size: 60px;
  margin: 0;
}

.welcome-section .hero h1 span {
  color: #902f3a;
}

.welcome-section .hero .button {
  color: white;
  margin: 40px;
  background-color: #902f3a;
}

.welcome-section .hero .button:hover {
  background: white;
  color: #902f3a;
}

@media (max-width: 600px) {
  .welcome-section .hero p {
    font-size: 12px;
  }
  .welcome-section .hero h1 {
    font-size: 26px;
  }
}

.dessert-section .top {
  width: 100%;
  min-height: 40vh;
  background: #902f3a;
}

.dessert-section .container {
  position: relative;
}

.dessert-section .dessert-text {
  width: 45%;
  min-height: 40vh;
  padding: 100px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #d4a4a4;
  font-size: 18px;
}

.dessert-section .button {
  color: #d4a4a4;
  margin: 40px 0;
  border: solid 2px #d4a4a4;
}

.dessert-section .button:hover {
  background: #d4a4a4;
  color: #902f3a;
}

.dessert-section .dessert-img {
  width: 450px;
  height: 400px;
  position: absolute;
  margin: auto;
  right: 0;
  bottom: -120px;
}

.dessert-section .dessert-img img {
  width: 100%;
}

@media (max-width: 1024px) {
  .dessert-section .container {
    position: relative;
    width: 80%;
  }
  .dessert-section .dessert-text {
    width: 55%;
    padding: 50px 0;
  }
  .dessert-section .dessert-img {
    right: 0;
  }
}

@media (max-width: 600px) {
  .dessert-section .dessert-text {
    width: 100%;
    padding: 50px 20px;
    text-align: center;
  }
  .dessert-section .dessert-img {
    display: none;
  }
}

.recipe-section {
  width: 100%;
  margin-top: 150px;
}

.recipe-section #search {
  padding-bottom: 69px;
}

.recipe-section .text-wrap {
  text-align: center;
}

.recipe-section .text-wrap h2,
.recipe-section .text-wrap p {
  margin: 0;
}

.recipe-section .text-wrap h2 {
  margin: 50px 0 5px 0;
}

.recipe-section .button {
  display: block;
  background: none;
  color: #902f3a;
  border: solid 2px #902f3a;
  margin: 30px auto;
  padding: 15px 25px;
}

.recipe-section .button:hover {
  background: #902f3a;
  color: white;
}

.recipe-section .card-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 70px auto 150px auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.recipe-section .card {
  width: 250px;
  text-align: center;
  text-transform: capitalize;
  margin: auto;
}

.recipe-section .img-one {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
          box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
  width: 250px;
  height: 250px;
  background: url(../images/desserts/cheesecake-full.jpg);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recipe-section .img-one:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
          box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.recipe-section .img-two {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
          box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
  width: 250px;
  height: 250px;
  background: url(../images/desserts/doughnut.jpg);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recipe-section .img-two:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
          box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.recipe-section .img-three {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
          box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
  width: 250px;
  height: 250px;
  background: url(../images/desserts/flaps.jpg);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recipe-section .img-three:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
          box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.recipe-section .img-four {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
          box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
  width: 250px;
  height: 250px;
  background: url(../images/desserts/cup-cakes.jpg);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recipe-section .img-four:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
          box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.recipe-section .img-five {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
          box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
  width: 250px;
  height: 250px;
  background: url(../images/main-course/fish.jpg);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recipe-section .img-five:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
          box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.recipe-section .img-six {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
          box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
  width: 250px;
  height: 250px;
  background: url(../images/main-course/pork.jpg);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recipe-section .img-six:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
          box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.recipe-section .img-seven {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
          box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
  width: 250px;
  height: 250px;
  background: url(../images/main-course/beef.jpg);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recipe-section .img-seven:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
          box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.recipe-section .img-eight {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
          box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
  width: 250px;
  height: 250px;
  background: url(../images/main-course/chicken.jpg);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recipe-section .img-eight:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
          box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.recipe-section .img-nine {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
          box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
  width: 250px;
  height: 250px;
  background: url(../images/breakfast/omelette.jpg);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recipe-section .img-nine:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
          box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.recipe-section .img-ten {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
          box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
  width: 250px;
  height: 250px;
  background: url(../images/breakfast/waffles.jpg);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recipe-section .img-ten:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
          box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.recipe-section .img-eleven {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
          box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
  width: 250px;
  height: 250px;
  background: url(../images/breakfast/pancakes.jpg);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recipe-section .img-eleven:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
          box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.recipe-section .img-twelve {
  border-radius: 10px;
  -webkit-box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
          box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
  width: 250px;
  height: 250px;
  background: url(../images/breakfast/smoothies.jpg);
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.recipe-section .img-twelve:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
          box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

@media (max-width: 1024px) {
  .recipe-section .card-wrap {
    margin-bottom: 70px;
    width: 100%;
  }
  .recipe-section .card {
    margin-bottom: 50px;
    width: 220px;
  }
  .recipe-section .card-img {
    width: 220px;
    height: 220px;
  }
}

@media (max-width: 600px) {
  .recipe-section #search {
    padding-bottom: 115px;
  }
}

.search-section {
  background: white;
}

.search-section .search-wrap {
  min-height: 500px;
  background: url(../images/search-background.jpg);
  background-size: cover;
  background-position: center center;
}

.search-section .cover {
  min-height: 500px;
  background: rgba(0, 0, 0, 0.76);
  position: relative;
}

.search-section .text {
  margin: auto;
  padding: 50px 0 0 0;
  color: white;
  letter-spacing: 2px;
  text-align: center;
}

.search-section .text p {
  color: gray;
  text-transform: uppercase;
  font-size: 13px;
  margin: 0 0 50px 0;
}

.search-section .text h1 {
  text-transform: capitalize;
  font-size: 50px;
}

.search-section .text h1 span {
  color: #902f3a;
}

.search-section .searchbar {
  width: 50%;
  margin: auto;
}

.search-section .search {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search-section .searchTerm {
  width: 100%;
  border: 3px solid #902f3a;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.search-section .searchTerm:focus {
  color: #902f3a;
}

.search-section .searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #902f3a;
  background: #902f3a;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.search-section .searchButton:focus {
  outline: none;
}

.options-bar {
  width: 100%;
  background: #902f3a;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.options-bar * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.options-bar #main {
  position: relative;
  list-style: none;
  background: #902f3a;
  font-weight: 400;
  font-size: 0;
  text-transform: uppercase;
  display: inline-block;
  padding: 0;
}

.options-bar #main li {
  font-size: 0.8rem;
  display: inline-block;
  position: relative;
  padding: 15px 20px;
  cursor: pointer;
  z-index: 5;
  min-width: 120px;
  text-align: center;
}

.options-bar li {
  margin: 0;
}

.options-bar .drop {
  display: none;
  overflow: hidden;
  list-style: none;
  position: absolute;
  padding: 0;
  width: 100%;
  left: 0;
  top: 48px;
  z-index: 50;
}

.options-bar .drop div {
  -webkit-transform: translate(0, -100%);
  transform: translate(0, -100%);
  -webkit-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
  position: relative;
}

.options-bar .drop div ul {
  margin: 0;
  padding: 0;
}

.options-bar .drop li {
  display: block;
  padding: 0;
  width: 100%;
  background: #902f3a;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.options-bar .drop li:hover {
  background: #d4a4a4;
}

.options-bar #marker {
  height: 6px;
  background: #d4a4a4;
  position: absolute;
  bottom: 0;
  width: 120px;
  z-index: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.options-bar #main li:nth-child(1):hover ~ #marker {
  -webkit-transform: translate(0px, 0);
  transform: translate(0px, 0);
}

.options-bar #main li:nth-child(2):hover ~ #marker {
  -webkit-transform: translate(120px, 0);
  transform: translate(120px, 0);
}

.options-bar #main li:nth-child(3):hover ~ #marker {
  -webkit-transform: translate(240px, 0);
  transform: translate(240px, 0);
}

.options-bar #main li:nth-child(4):hover ~ #marker {
  -webkit-transform: translate(360px, 0);
  transform: translate(360px, 0);
}

@media (max-width: 1024px) {
  .search-section .searchbar {
    width: 80%;
  }
  .search-section .text p {
    font-size: 12px;
  }
  .search-section .text h1 {
    font-size: 40px;
  }
}

@media (max-width: 600px) {
  .search-section .searchbar {
    width: 90%;
  }
  .search-section .text p {
    font-size: 10px;
  }
  .search-section .text h1 {
    font-size: 25px;
  }
  .options-bar #main li {
    width: 100%;
    padding: 25px 20px;
  }
  .options-bar #marker {
    display: none;
  }
}

.results-section .result-cards-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.results-section .recipe-card {
  width: 25%;
  height: 50vh;
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
}

.results-section .source {
  padding: 1px 30px;
  height: 50px;
  background: rgba(0, 0, 0, 0.664);
  color: white;
  font-family: "Courgette", Courier, monospace;
  font-weight: 100;
  letter-spacing: 1px;
}

.results-section .cover {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(black));
  background: linear-gradient(transparent, black);
  position: absolute;
  -webkit-transition: .3s;
  transition: .3s;
}

.results-section .wrap {
  width: 100%;
  height: 30%;
  position: absolute;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.results-section .text {
  width: 70%;
  height: 100%;
  color: white;
  padding-left: 40px;
}

.results-section .text h2 {
  color: #d4d4d4;
  text-transform: uppercase;
  font-size: 13px;
}

.results-section .text h4 {
  font-size: 12px;
  color: #9a9a9a;
  letter-spacing: 1px;
}

.results-section .logo-wrap {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results-section .info {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ff4d4d;
  color: white;
  font-family: "Courgette", Courier, monospace;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.results-section .info span {
  color: #902f3a;
}

@media (max-width: 1024px) {
  .results-section .recipe-card {
    width: 50%;
  }
}

@media (max-width: 600px) {
  .results-section .recipe-card {
    width: 100%;
  }
}

body {
  margin: 0;
  padding: 0;
  background-color: #e2e2e2;
}

.sections {
  display: none;
}

.loading-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 11;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.loading-page .loader-wrapper {
  width: 400px;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading-page .title {
  font-family: "Courgette", Courier, monospace;
  color: white;
  font-size: 40px;
  text-align: center;
}

.loading-page .title span {
  color: #902f3a;
}

.loading-page .loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #fff;
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
}

.loading-page .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
          animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.container {
  width: 60%;
  margin: auto;
}

.button {
  color: white;
  background-color: #902f3a;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

header {
  width: 100%;
  padding: 20px 0;
  background: #131313;
  position: fixed;
  z-index: 10;
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  z-index: 1;
  width: 70%;
}

header .title {
  font-family: "Courgette", Courier, monospace;
  margin: 0;
  color: white;
}

header .title span {
  color: #902f3a;
}

header .nav-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav ul {
  margin: 0;
}

header nav li {
  display: inline-block;
  text-transform: capitalize;
}

header nav li:nth-child(2) {
  padding: 0 70px;
}

header nav a {
  color: white;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav a:hover {
  color: #e2e2e2;
}

footer {
  min-height: 100px;
  background: #131313;
}

@media (max-width: 1800px) {
  .recipe-section .card {
    width: 220px;
  }
  .recipe-section .card-img {
    width: 220px;
    height: 220px;
  }
}

@media (max-width: 1500px) {
  .recipe-section .card {
    width: 170px;
  }
  .recipe-section .card-img {
    width: 170px;
    height: 170px;
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
  header {
    width: 100%;
    padding: 20px 0 0 0;
  }
  header .container {
    text-align: center;
    width: 100%;
  }
  header .title {
    margin: auto;
  }
  header .nav-wrap {
    display: block;
    width: 100%;
  }
  header nav {
    width: 100%;
    margin: auto;
  }
  header nav ul {
    padding: 15px 0 10px 0;
  }
  header nav li {
    padding: 10px 20px;
  }
  header nav li:nth-child(2) {
    padding: 10px 20px;
    border-left: solid 1px #eee;
    border-right: solid 1px #eee;
  }
}
/*# sourceMappingURL=style.css.map */