@import 'variablesMixins';
@import 'sections/welcome';
@import 'sections/dessert';
@import 'sections/recipe';
@import 'sections/search';
@import 'sections/results';


body {
  margin: 0;
  padding: 0;
  background-color: $grey;
}

.loading-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  transition: 0.3s;
 
  .loader-wrapper {
    width: 400px;
    height: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

   
  }
  .title {
    font-family: "Courgette", Courier, monospace;
    color: white;
    font-size: 40px;
    text-align: center;
    span {
      color: $blood;
    }
  }
  .loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
  }
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
.container {
  width: 60%;
  margin: auto;
}

.button {
  color: white;
  background-color: $blood;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 15px 40px;
  transition: 0.3s;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

header {
  width: 100%;
  padding: 20px 0;
  background: rgb(19, 19, 19);
  position: fixed;
  z-index: 10;
  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 1;
    width: 70%;
  }
  .title {
    font-family: "Courgette", Courier, monospace;
    margin: 0;
    color: white;
    span {
      color: $blood;
    }
  }
  .nav-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  nav {
    ul {
      margin: 0;
    }
    li {
      display: inline-block;
      text-transform: capitalize;
      &:nth-child(2) {
        padding: 0 70px;
      }
    }
    a {
      color: rgb(255, 255, 255);
      text-decoration: none;
      transition: 0.3s;

      &:hover {
        color: $grey;
      }
    }
  }
}


$breakpoints: (
  220px: 1800px,
  170px: 1500px
);

@each $cardSize, $MediaSize in $breakpoints {
  @media (max-width: $MediaSize) {
    .recipe-section {
      .card {
        width: $cardSize + 0px;
      }
      .card-img {
        width: $cardSize + 0px;
        height: $cardSize + 0px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .dessert-section {
    .container {
      position: relative;
      width: 80%;
    }
    .dessert-text {
      width: 55%;
      padding: 50px 0;
    }
    .dessert-img {
      right: 0;
    }
  }
  .recipe-section {
    .card-wrap {
      margin-bottom: 70px;
      width: 100%;
    }
    .card {
      margin-bottom: 50px;
      width: 220px;
    }
    .card-img {
      width: 220px;
      height: 220px;
    }
  }
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }

  header {
    width: 100%;
    padding: 20px 0 0 0;

    .container {
      width: 100%;
      text-align: center;
    }
    .title {
      margin: auto;
    }
    .nav-wrap {
      display: block;
      width: 100%;
    }
    nav {
      width: 100%;
      margin: auto;
      ul {
        padding: 15px 0 10px 0;
      }
      li {
        padding: 10px 20px;
        &:nth-child(2) {
          padding: 10px 20px;
          border-left: solid 1px #eee;
          border-right: solid 1px #eee;
        }
      }
    }
  }
  .welcome-section {
    .hero {
      p {
        font-size: 12px;
      }
      h1 {
        font-size: 26px;
      }
    }
  }

  .dessert-section {
    .dessert-text {
      width: 100%;
      padding: 50px 20px;
      text-align: center;
    }
    .dessert-img {
      display: none;
    }
  }
  .recipe-section {
    #search {
      padding-bottom: 115px;
    }
  }
}
