$darkPurple: #4b4559;
$purple: #6f5f73;
$lightPurple: #8a7e8e;
$grey: #ebedf1;
$darkgrey: #b3b3b3;
$black: #333;
$red: #cf2727;
$blood: #803841;

body {
  margin: 0;
  padding: 0;
  background-color: $grey;
}

header {
  width: 100%;
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.897);
  position: fixed;
  z-index: 1;
  .title {
    font-family: "Courgette", Courier, monospace;
    margin: 0;
    color:white;
    span {
      color: $blood;
    }
  }
  .nav-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    nav {
      ul {
        margin: 0;
        li {
          display: inline-block;
          text-transform: capitalize;
          &:nth-child(2) {
            padding: 0 70px;
          }

          a {
            color: rgb(255, 255, 255);
            text-decoration: none;

            &:hover {
              
            }
          }
        }
      }
    }
  }
}

.welcome {
  width: 100%;
  height: 100vh;
  .background {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/background.jpg);
    background-size: cover;
    background-position: center center;
    filter: brightness(80%);
  }
  .hero-wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .hero {
      width: 600px;
      height: 400px;
    
      box-sizing: border-box;
      padding: 50px;
      text-align: center;
      margin-top: 60px;
      border-radius: 2px;
      letter-spacing: 2px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      align-items: center;
    
      p {
        color: rgb(128, 128, 128);
        text-transform: uppercase;
        font-size: 13px;
      }
      h1 {
        color: white;
        text-transform: capitalize;
        font-size:60px;
        span {
          color: $blood;
        }
      }
      .button {
        color: white;
        margin:40px;
        background-color: $blood;
       border:none;
        border-radius:50px;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding:10px 40px;
      }
    }
  }
}

.dessert-section {


 
  .top {
    width: 100%;
    min-height: 40vh;
    background: $blood;
  

  .top-wrap {
    position: relative;
    width:80%;
    margin:auto;
    .dessert-text {
        width: 50%;
        min-height:40vh;
        padding:100px;
         box-sizing: border-box;
         font-family: 'Raleway', sans-serif;
        color:rgb(212, 149, 149);
       font-size:18px;
        
    }
    .dessert-img {
        width: 450px;
        height: 400px;
        position: absolute;
        margin: auto;
        right: 100px;
        
        bottom: -120px;
        img {
          width: 100%;
        }
      }
    }
  }

 
  
}
