.recipe-section {
  width: $full;
  margin-top: 150px;

  #search {
    padding-bottom: 69px;
  }

  .text-wrap {
    text-align: center;

    h2,
    p {
      margin: 0;
    }
    h2 {
      margin: 50px 0 5px 0;
    }
  }
  .button {
    display: block;
    background: none;
    color: $blood;
    border: solid 2px $blood;
    margin: 30px auto;
    padding: 15px 25px;

    &:hover {
      background: $blood;
      color: white;
    }
  }
  .card-wrap {
    width: $full;
    display: flex;
    margin: 70px auto 150px auto;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .card {
    width: 250px;
    text-align: center;
    text-transform: capitalize;
    margin: auto;
  }
  @each $name, $image in $images {
    .img-#{$name} {
      border-radius: 10px;
      box-shadow: 0 10px 24px 0 rgba(0, 0, 0, 0.27);
      width: 250px;
      height: 250px;
      background: $image;
      background-size: cover;
      background-position: center center;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transform: scale(1.1);
        box-shadow: 0 20px 34px 0 rgba(0, 0, 0, 0.459);
        filter: grayscale($full);
      }
    }
  }
}


@media (max-width: 1024px) {
  .recipe-section {
    .card-wrap {
      margin-bottom: 70px;
      width: 100%;
    }
    .card {
      margin-bottom: 50px;
      width: 220px;
    }
    .card-img {
      width: 220px;
      height: 220px;
    }
  }
}

@media (max-width: 600px) {
  .recipe-section {
    #search {
      padding-bottom: 115px;
    }
  }
}
