.search-section {
  background: white;

  .search-wrap {
    min-height: 500px;
    background: url(../images/search-background.jpg);
    background-size: cover;
    background-position: center center;
  }
  .cover {
    min-height: 500px;
    background: rgba(0, 0, 0, 0.76);
    position: relative;
  }
  .text {
    margin: auto;
    padding: 50px 0 0 0;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    p {
      color: $darkgrey;
      text-transform: uppercase;
      font-size: 13px;
      margin: 0 0 50px 0;
    }
    h1 {
      text-transform: capitalize;
      font-size: 50px;
      span {
        color: $blood;
      }
    }
  }
  .searchbar {
    width: 50%;
    margin: auto;
  }
  .search {
    width: $full;
    position: relative;
    display: flex;
  }
  .searchTerm {
    width: $full;
    border: 3px solid $blood;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
    &:focus {
      color: $blood;
    }
  }

  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid $blood;
    background: $blood;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;

    &:focus {
      outline: none;
    }
  }
}

.options-bar {
  width: $full;
  background: $blood;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  * {
    box-sizing: border-box;
  }
  #main {
    position: relative;
    list-style: none;
    background: $blood;
    font-weight: 400;
    font-size: 0;
    text-transform: uppercase;
    display: inline-block;
    padding: 0;

    li {
      font-size: 0.8rem;
      display: inline-block;
      position: relative;
      padding: 15px 20px;
      cursor: pointer;
      z-index: 5;
      min-width: $min-width;
      text-align: center;
    }
  }
  li {
    margin: 0;
  }
  .drop {
    display: none;
    overflow: hidden;
    list-style: none;
    position: absolute;
    padding: 0;
    width: 100%;
    left: 0;
    top: 48px;
    div {
      @include transform(translate(0, -100%));
      @include transition(all 0.5s 0.1s);
      position: relative;
      ul {
        margin: 0;
        padding: 0;
      }
    }
    li {
      display: block;
      padding: 0;
      width: $full;
      background: $blood;
      transition: 0.2s;
      &:hover {
        background: $lightred;
      }
    }
  }
  #marker {
    height: 6px;
    background: $lightred;
    position: absolute;
    bottom: 0;
    width: $min-width;
    z-index: 1;
    @include transition(all 0.2s);
  }

  @for $i from 1 through 4 {
    #main li:nth-child(#{$i}) {
      &:hover ~ #marker {
        @include transform(translate(#{(-1 + $i) * $min-width}, 0));
      }
    }
  }
}
