.search-section {
  background: white;

  .search-wrap {
    min-height: 500px;
    background: url(../images/search-background.jpg);
    background-size: cover;
    background-position: center center;
  }
  .cover {
    min-height: 500px;
    background: rgba(0, 0, 0, 0.76);
    position: relative;
  }
  .text {
    margin: auto;
    padding: 50px 0 0 0;
    color: white;
    letter-spacing: 2px;
    text-align: center;
    p {
      color: $darkgrey;
      text-transform: uppercase;
      font-size: 13px;
      margin: 0 0 50px 0;
    }
    h1 {
      text-transform: capitalize;
      font-size: 50px;
      span {
        color: $blood;
      }
    }
  }
  .searchbar {
    width: 50%;
    margin: auto;
  }
  .search {
    width: $full;
    position: relative;
    display: flex;
  }
  .searchTerm {
    width: $full;
    border: 3px solid $blood;
    border-right: none;
    padding: 5px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9dbfaf;
    &:focus {
      color: $blood;
    }
  }

  .searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid $blood;
    background: $blood;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;

    &:focus {
      outline: none;
    }
  }
}

.breaker-bar {
  width:100%;
  height:30px;
  position: absolute;
  bottom:0;
  background:$blood;
}

@media (max-width: 1024px) {
  .search-section {
    .searchbar {
      width: 80%;
      
    }
    .text {  
      p {
        font-size: 12px;
      }
      h1 {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 600px) {
  .search-section {
    .searchbar {
      width: 90%;
      
    }
    .text {  
      p {
        font-size: 10px;
      }
      h1 {
        font-size: 25px;
      }
    }
  }

  .options-bar {
    #main {
      li {
        width:100%;
        padding: 25px 20px;
      
      }
    }
    #marker {
      display:none;
    }
  }
}
