.welcome-section {
  width: $full;
  height: 100vh;

  .background {
    width: $full;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/background.jpg);
    background-size: cover;
    background-position: center center;
    z-index: -1;
    filter: brightness(80%);
  }
  .hero-wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero {
    width: 700px;
    height: 400px;
    box-sizing: border-box;
    padding: 50px;
    text-align: center;
    margin-top: 60px;
    border-radius: 2px;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    p {
      color: $darkgrey;
      text-transform: uppercase;
      font-size: 13px;
    }
    h1 {
      color: white;
      text-transform: capitalize;
      font-size: 60px;
      margin: 0;
      span {
        color: $blood;
      }
    }
    .button {
      color: white;
      margin: 40px;
      background-color: $blood;

      &:hover {
        background: white;
        color: $blood;
      }
    }
  }
}


@media (max-width: 1024px) {
 
}

@media (max-width: 600px) {
  .welcome-section {
    .hero {
      p {
        font-size: 12px;
      }
      h1 {
        font-size: 26px;
      }
    }
  }
}
